.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.nav {
  padding: 0 10px;
  width: 100%;
}

.navbar {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.userAddress {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5vh;
  margin: 0 3vw;

  p {
    span {
      color: $primary-color;
      cursor: pointer;
    }
  }
}

.up,
.down {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.icon {
  display: flex;
  flex-direction: row;
}

.up {
  width: 65%;
}

.down {
  width: 35%;
}

.adminRight {
  width: 20%;
}

.navLogo {
  height: 10vw;
  width: 10vw;
  position: relative;
}

.searchBar {
  align-items: center;
  height: 100%;

  form {
    display: flex;
    align-items: center;
    height: 100%;
  }

  input {
    width: 40vw;
    border: 1px solid #e6e3dc;
    border-radius: 5px 0 0 5px;
    height: 40%;
  }

  button {
    border: 1px solid #e6e3dc;
    background-color: #f7f7f5;
    border-radius: 0 5px 5px 0;
    height: 40%;
  }
}

.user {
  border-left: 1px solid #e6e3dc;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  button {
    padding: 8px 15px;
    background-color: white;
    border-radius: 5px;
  }
}

.category {
  span {
    font-size: 1vw;
  }
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-around;

  span {
    font-size: 1vw;
  }
}

.photo {
  position: relative;
  width: 3vw;
  height: 3vw;
  // border-radius: 40px solid white;
  border-radius: 50%;
  margin-right: 1vw;
  overflow: hidden;
}

.logged {
  padding: 0.8vh 0.8vw;
}

.logged:hover {
  background-color: rgb(197, 197, 197);
  border-radius: 5px;
}

.cartContainer {
  display: flex;
  flex-direction: column;
}

.cartDetail {
  display: flex;
  align-items: center;
  padding: 1vh 0;
  border-collapse: collapse;
  border-top: 1px solid rgb(78, 78, 78);
}

.cartImg {
  position: relative;
  width: 3vw;
  height: 3vw;
  margin-right: 0.5vw;
}

.separate {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cartDets {
  display: flex;
  flex-direction: column;
}

.circle {
  position: relative;
  width: 4vw;
  height: 4vw;
  // border-radius: 40px solid white;
  border-radius: 50%;
  margin-right: 1vw;
  overflow: hidden;
}

#cartHover {
  background-color: white;
  position: absolute;
  top: 15vh;
  right: 20vw;
  z-index: 1;
  width: 20vw;
  max-height: 30vw;
  overflow: auto;
  color: rgb(63, 63, 63);

  p,
  h6 {
    font-size: 2vh;
    margin: 0;
  }
}

#userHover {
  background-color: white;
  position: absolute;
  top: 15vh;
  right: 4vw;
  z-index: 1;
  width: 40vw;

  p {
    font-size: 2vh;
  }
}

#shopHover {
  background-color: white;
  position: absolute;
  top: 15vh;
  right: 4vw;
  z-index: 1;
  width: 20vw;

  p {
    font-size: 2vh;
  }
}

.prof {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flexLeft,
.flexRight {
  width: 50%;
  padding: 1vh 1vw;
}

.flexRight {
  display: flex;
  flex-direction: column;
}

.saldo {
  display: flex;
  justify-content: space-between;
}

.categories {
  position: fixed;
  z-index: 1;
  top: 15vh;
  background-color: white;
  margin: 0;
  padding: 2vh 5vw;
  width: 100%;
  max-height: 20%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;

  p {
    font-size: 2vh;
    padding: 1vh 1vw;
  }
}

.innerCon {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form {
    background-color: white;
    margin: 0;
    padding: 5vh 5vw;
    border-radius: 5px;
    width: 70%;
    max-height: 70%;
    overflow: auto;

    form {
      width: 100%;
      padding-bottom: 3vh;
    }
  }

  .field {
    width: 100%;
    margin: 3vh 0;
    display: flex;
    flex-direction: column;

    input,
    textarea {
      border-radius: 5px;
      border: 1px solid rgb(182, 182, 182);
    }

    input {
      height: 4vh;
    }

    textarea {
      height: 10vh;
    }

    label {
      font-weight: bold;
      font-size: 1.2vw;
      padding-bottom: 1vh;
    }
  }

  .back {
    cursor: pointer;
  }

  .submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;

    button {
      padding: 1vh 3vw;
      background-color: $primary-color;
      color: white;
      border: 0;
      width: 30%;
      border-radius: 5px;
    }
  }
}

.btn {
  display: flex;
  margin: 2vh 0;
  justify-content: flex-end;
  align-items: right;

  button {
    padding: 1vh 2vw;
    background-color: $primary-color;
    color: white;
    border: 0;
    border-radius: 5px;
  }
}

.address {
  border: 1px solid $primary-color;
  border-radius: 5px;
  margin: 2vh 0;
  padding: 1vh 1vw;

  display: flex;
  flex-direction: column;

  p,
  span {
    margin: 0;
    padding: 0.5vh 0;
  }
}

.action {
  display: flex;
  padding: 1vh 0;

  p {
    color: $primary-color;
    font-weight: bold;
    font-size: 1.5vh;
    cursor: pointer;
  }

  #mid {
    padding: 0 1vw 0 0;
    border-right: 1px solid rgb(216, 216, 216);
  }

  #end {
    padding: 0 0 0 1vw;
  }
}

@media screen and (max-width: 960px) {
  .navbar {
    flex-direction: column;
  }

  .up,
  .down {
    width: 100%;
  }

  .user {
    width: 40%;
  }

  .cart {
    span {
      font-size: 2.5vw;
    }
  }

  .innerCon {
    .field {
      label {
        font-size: 3vw;
      }
    }
  }

  .fields,
  .photo {
    width: 80%;
  }

  #shopHover {
    top: 12vh;
    width: 50vw;

    h3 {
      font-size: 2.5vw;
    }

    p {
      font-size: 2vw;
    }
  }

  #cartHover {
    top: 11vh;
    left: 5vw;
    width: 40vw;

    h6 {
      font-size: 2vw;
    }

    p {
      font-size: 2vw;
    }
  }

  .categories {
    p {
      font-size: 1vh;
    }
  }

  #userHover {
    top: 12vh;
    width: 70vw;
    right: 10vw;

    h3 {
      font-size: 3vw;
    }

    p {
      font-size: 2vw;
    }
  }

  .userAddress {
    font-size: 1vh;
  }
}

@media screen and (max-width: 480px) {
  #shopHover {
    top: 8vh;
    width: 45vw;

    h3 {
      font-size: 2.5vw;
    }

    p {
      font-size: 2vw;
    }
  }

  #cartHover {
    top: 8vh;
    width: 45vw;

    h6 {
      font-size: 2vw;
    }

    p {
      font-size: 2vw;
    }
  }

  #userHover {
    top: 8vh;
    width: 60vw;
    right: 10vw;

    h3 {
      font-size: 3vw;
    }

    p {
      font-size: 2vw;
    }
  }

  .userAddress {
    font-size: 1vh;
  }
}
