.body {
  display: flex;
  flex-direction: row;
}

.container {
  margin: 3vh;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.con {
  h3 {
    color: rgb(68, 68, 68);
  }
}

.form {
  justify-content: space-around;

  label {
    color: gray;
    font-size: 2vh;
  }

  input[type="text"] {
    height: 4.5vh;
    margin-top: 1vh;
    margin-bottom: 1.5vh;
    border: 1px solid grey;
    border-radius: 5px;
  }

  textarea {
    height: 6vh;
    border: 1px solid grey;
    border-radius: 5px;
  }
}

.w45 {
  width: 45%;
}

.w100 {
  width: 100%;
}

.contain {
  margin: 1vh 2.5vw;
}

.btn {
  display: flex;
  justify-content: right;
  padding: 5vh 3vh;

  button {
    color: white;
    background-color: $primary-color;
    border: 0;
    padding: 1.5vh 2.5vw;
    border-radius: 5px;
  }
}

.status {
  margin-bottom: 2vh;

  button {
    color: gray;
    background-color: white;
    border: 1px solid grey;
    padding: 1vh 2vw;
    border-radius: 5px;
    margin-right: 1vw;
  }
}

.hour {
  justify-content: space-around;

  label {
    margin-right: 3vw;
  }

  input {
    width: 10vw;
  }
}

.img {
  position: relative;
  width: 10vw;
  height: 10vw;
  margin-right: 1vw;
}

.flex {
  display: flex;
  margin: 1vw;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .hide {
    display: none;
  }
}
