.body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  margin: 3vh 10vw;
  justify-content: space-around;
}

.img {
  position: relative;
  width: 7vw;
  height: 7vw;
  margin-right: 2vw;
}

.containerLeft {
  width: 65%;
}

.containerRight {
  width: 30%;
}

.product {
  display: flex;
}

.cart {
  width: 100%;
  padding: 0.25rem 2rem;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  width: 65%;
  display: flex;
  justify-content: space-between;

  p {
    margin: 0;
    color: rgb(97, 97, 97);
  }
}

.left {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.right {
  width: 30%;
  display: flex;
  align-items: center;

  span {
    color: rgb(97, 97, 97);
    font-weight: bold;
    padding: 4px 5px;
    text-align: center;
    border: 1px solid rgb(97, 97, 97);
    border-radius: 100%;
  }

  span:hover {
    color: $primary-color;
    border: 1px solid $primary-color;
  }

  input {
    width: 3.5vw;
    height: 4vh;
    border: 0;
    border-bottom: 1px solid rgb(97, 97, 97);
    text-align: center;
  }
}

.detail {
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }
}

.dets {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  span {
    background-color: red;
    color: white;
    font-size: 1vw;
    padding: 0.25vh 0.25vw;
    margin-right: 1vw;
  }

  p {
    text-decoration: line-through;
    font-size: 1vw;
    margin-right: 0.5vw;
  }
}

.promo {
  h5 {
    border: 1px solid rgb(179, 179, 179);
    padding: 1.5vh 1vw;
    border-radius: 5px;
  }
  cursor: pointer;
}

.summaryUp,
.summaryDown,
.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h4 {
    font-size: 1.25vw;
  }
  span {
    font-size: 1.1vw;
  }
}

.buy {
  display: flex;

  button {
    width: 100%;
    background-color: $primary-color;
    border: 0;
    border-radius: 5px;
    height: 4vh;
    color: white;
    font-weight: bold;
  }
}

.wishlist {
  padding: 3vh 11vw;

  h4 {
    margin: 1vh;
  }
}

.title {
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.wcontainer {
  width: 65%;
  height: 20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wscroll {
  width: 65%;
  overflow: auto;
}

.wcard {
  width: 40vw;
  height: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2vw;

  .img {
    width: 6vw;
    height: 6vw;
  }

  p,
  h5,
  span {
    margin: 1vh;
  }
}

.wl {
  width: 90%;
  display: flex;
  align-items: center;
}

.acts {
  padding: 1vh 1vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    color: rgb(71, 71, 71);
  }

  button {
    width: 100%;
    border: 1px solid $primary-color;
    background-color: white;
    border-radius: 5px;
    color: $primary-color;
    height: 3vh;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .containerLeft,
  .containerRight {
    width: 100%;
  }

  .dets {
    span {
      font-size: 1vw;
    }

    p {
      font-size: 2vw;
    }
  }

  .action {
    p {
      font-size: 2.5vw;
    }
  }

  .summaryUp,
  .summaryDown,
  .total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h4 {
      font-size: 3vw;
    }
    span {
      font-size: 2.5vw;
    }
  }

  .wcontainer,
  .title {
    width: 100%;
  }

  .wscroll {
    overflow: auto;
    width: 100%;
  }

  .wcontainer {
    height: 25vh;
    width: 100%;
  }

  .wcard {
    padding: 1vh;
    margin: 1vh;
    height: 18vh;
    width: 70vw;
  }

  .img {
    width: 17vw;
    height: 17vw;
  }

  .wl {
    .img {
      width: 15vw;
      height: 15vw;
    }
  }

  .acts {
    button {
      font-size: 1vh;
    }
  }
}
